.pdf,
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
  max-height: 85vh;
  display: block;
}

#share_work {
  display: block;
  height: 100%;
}
.bitly-link {
  color: black;
  font-size: xx-large;
}

.table {
  width: 80%;
  margin: 0 auto;
}

#file_links {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.menu-bg{
  background-color: #b51701
}

.menu-spf-bg {
  background-color: rgb(164,129,92);
}

.footer-details{
  padding-bottom: 0px !important;
  padding-bottom: 0px !important;
  font-size: small !important;
}

/* Keep footer at bottom for SPF pages without affecting others */
.spf-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.spf-page main {
  flex: 1 0 auto;
  padding-bottom: 4.5rem; /* keep content from sitting under fixed footer */
}

.spf-page .sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}